# Virtual environment
env/ 
test-ipynb/
.venv/

# Database
db.sqlite3

# PyCharm files
.idea/

# Byte-compiled / optimized files
*.py[cod]
__pycache__/

# Logs and temp files
*.log
*.tmp

# Environment variables  
.env

# Additional ignores

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*  
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build outputs
dist
dist-ssr

# Local configs
*.local

# Editor files and dirs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?